# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.env

# PyCharm
.idea/
*.iml

# Logs
logs/
*.log

# Airflow
airflow.cfg
dags/*.pyc

# Docker
*.pid
*.sock
*.pid.lock
*.swp
*.tmp

# MinIO / data
data/.minio.sys/

# OS files
.DS_Store
Thumbs.db
