# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# ----------------------------
# Virtual Environments
# ----------------------------
venv/
env/
ENV/
.venv/

# ----------------------------
# PyCharm
# ----------------------------
.idea/
*.iml

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Airflow
# ----------------------------
airflow/logs/
airflow/plugins/
airflow/config/
*.airflowignore

# ----------------------------
# Docker
# ----------------------------
docker-compose.override.yml
*.pid
*.sock
*.pid.lock

# ----------------------------
# Minio
# ----------------------------
data/.minio.sys/

# ----------------------------
# Metabase
# ----------------------------
.metabase.db
.metabase-data/

# ----------------------------
# Environment variables
# ----------------------------
.env

# ----------------------------
# Temporary / Misc
# ----------------------------
*.tmp
*.swp

data/
logs/
cred.py